mixin pages(pages, cur_page)
  nav(aria-label='Page navigation example')
    ul.pagination
      li.page-item
        a.page-link(href=`?page=${cur_page - 1}`) Previous
      each val, index in pages
        if (index == cur_page - 1)
          li.page-item.active
            a.page-link(href=`?page=${index}`)= val
        else
          li.page-item
            a.page-link(href=`?page=${index}`)= val
      li.page-item
        a.page-link(href=`?page=${cur_page + 1}`) Next

